@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::before,
::after {
	box-sizing: border-box;
	/* 1 */
	border-width: 0;
	/* 2 */
	border-style: solid;
	/* 2 */
	border-color: #e5e7eb;
	/* 2 */
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(15, 23, 42);
}

#titulo {
	font-size: 2rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

#caja-tareas {
	background-color: rgb(30, 41, 59);
	border-radius: 0.3rem;
	display: inline-block;
	width: 40vh;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* **********  AGREGAR TAREAS   **************** */

form {
	display: flex;
	border-bottom: 0.5px solid rgb(76, 89, 108);
	padding: 20px;
	gap: 0.5rem;
}

#input-tarea {
	border: 2px solid rgb(71, 85, 105);
	background-color: rgb(71, 85, 105);
	border-radius: 0.3rem;
	font-size: 0.8rem;
	font-family: "Poppins", sans-serif;
	padding: 0.3rem;
	width: 100%;
	color: #efefef;
}

#boton-agregar {
	width: 2rem;
	height: 2rem;
	padding: 0.25rem;
	color: #ffffff;
	background-color: rgb(139, 92, 246);
	border-radius: 100%;
	cursor: pointer;
}

#boton-agregar:hover {
	background-color: rgb(98, 61, 184);
}

#icono-agregar {
	display: flex;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
}

/* **********  FIN AGREGAR TAREAS   **************** */

/* ************ LISTA DE TAREAS *************** */

#lista-tareas {
	height: 15rem;
	overflow-x: hidden;
	overflow-y: auto;
}

#lista {
	padding: 0;
	margin: 0%;
}
.tareas {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.5px solid  rgb(76, 89, 108);
}

/* Iconos */

#icono-eliminar {
	height: 2.5rem;
	width: 2.5rem;
	justify-content: space-between;
	color: rgb(238, 68, 68);
}

.icono-check {
	height: 2.5rem;
	width: 2.5rem;
	justify-content: space-between;
	color: rgb(34, 196, 94);
}

#icono-eliminar:hover {
	background-color: rgb(238, 68, 68);
	color: #ffffff;
}
.check {
	background-color: rgb(34, 196, 94);
	color: #ffffff;
}

.icono-check:hover {
	background-color: rgb(34, 196, 94);
	color: #ffffff;
}

/* Texto  */
.tarea-hecha {
	color: gray;
	text-decoration: line-through;
}
.tarea {
	margin: 0%;
	width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-word;
	font-size: 0.8rem;
}

/* ************ FIN LISTA DE TAREAS *************** */

/* ************ CONTADOR **************** */

#contadores {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	gap: 1rem;
}

#total {
	height: 2rem;
	width: 50%;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	background-color: rgb(139, 92, 246);
}
#completas {
	height: 2rem;
	width: 50%;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	background-color: rgb(34, 196, 94);
}

#incompletas {
	height: 2rem;
	width: 50%;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	background-color: rgb(238, 68, 68);
}

/* ************ FIN CONTADOR **************** */

/* *********** RESPONSIVE **************** */

@media (min-width: 580px) {
	#caja-tareas {
		width: 70vh;
	}
	#contadores {
		flex-direction: row;
		gap: 2rem;
	}
	#total {
		width: auto;
	}
	#completas {
		width: auto;
	}
	#incompletas {
		width: auto;
	}

	.tarea{
		width: 20rem;
		font-size: 1rem;
	}
}
